/*
	main.css

	Archivo principal de estilos personalizados

	Jonathan Jimenez Gamero
	Projecto: TeamWork (proyecto de reclutamiento)
	jonysthil 2024

*/

@import url("colors.css");

/* Cargar fuente principal */
@font-face {
	font-family: 'Ninito Sans';
	src: url('../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

/* Etilo general al documento */

body {
	font-family: 'Ninito Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--background);
}


/* Estilos para los textos */

.unidad-text {
	font-size: 18px;
	color: var(--black);
	text-align: justify;
	font-style: normal;
	font-weight: 400;
}

.unidad-name {
	font-size: 26px;
	text-align: start;
	font-style: normal;
	font-weight: 900;
	color: var(--btn_active);
}

.unidad-title {
	font-size: 22px;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	color: var(--btn_active);
}

.unidad-important {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	color: var(--text-important);
}

.unidad-instruction {
	display: flex;
	font-size: 18px;
	text-align: justify;
	font-style: normal;
	font-weight: 700;
	color: var(--black);
	line-height: normal;
}

#row {
	flex-direction: row;
}

.unidad-font {
	font-size: 14px;
	text-align: end;
	font-style: normal;
	font-weight: 400;
	color: var(--black);
}

.base-icon {
	border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    background: var(--btn_active);
    color: var(--btn_default);
	text-align: center;
    font-size: 18px;
	margin-right: 10px;
}

.full-container {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Inicia sección banner */
.container-banner {
	background-color: var(--header);
	padding: 10px;
}

.container-banner img {
	width: 100%;
}
/* Termina sección banner */

/* Inicia sección nav */

.btn-nav {
	background-color: var(--btn_default);
	color: var(--btn_active);
	box-shadow: 0px 3px 0px 0px rgba(60, 120, 216, 0.75);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(60, 120, 216, 0.75);
	-moz-box-shadow: 0px 3px 0px 0px rgba(60, 120, 216, 0.75);
}

.btn-nav.active {
	background-color: var(--btn_active);
	border-color: transparent;
	color: var(--btn_default);
	box-shadow: 0px 3px 0px 0px rgba(103, 155, 238, 0.75);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(103, 155, 238, 0.75);
	-moz-box-shadow: 0px 3px 0px 0px rgba(103, 155, 238, 0.75);
}

.btn-nav:hover {
	background-color: var(--btn_default);
	opacity: 0.8;
}

.btn-nav.active:hover {
	background-color: var(--btn_active);
	border-color: transparent;
	color: var(--btn_default);
	opacity: 0.8;
}
/* Termina sección nav */

.container-main {
	background-color: var(--btn_default);
	padding: 15px;
}

/* efecto para imagen */
.card-unidad:hover {
	opacity: 0.8;
	transition-duration: 1s;
	transform: scale(1.2, 1.2);
	z-index: 9;
}

footer {
	background-color: var(--nav_footer);
	padding: 15px;
	color: var(--btn_default);
	font-size: 10px;
	text-align: start;
	font-style: normal;
	font-weight: 200;
}


/* Definimos un ancho fluido y una altura fija para nuestro menú */
header {
	background: var(--nav_footer);
	height: 60px;
	position: relative;
	width: 100%;
}


/* ocultamos botón #nav-mobile */
#nav-mobile { 
	display: none; 
}

/* Nuestro nav con id .menu lo flotaremos a la derecha */
.menu {
	position: absolute;
	width: 100%;
	padding: 5px 150px;
}

/* Alineamos los items de forma horizontal */
.menu li {
	display: inline-flex;
	margin-right: 25px;
	justify-content: space-between;
	padding: 5px !important;
}

.open-menu {
	box-shadow: none;
}
